/*Forhåndsdefinerte farger*/
.bg-dark-blue{background-color: #2A324B;}
.bg-lighter-blue{background-color: #58699D;}
.bg-light-grey{background-color: #E1E5EE;}
.bg-white{background-color: #fff;}

/*Roboto font*/
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

/*------------------------*/
body {
    background-color: #E1E5EE;
    height: 100vh;
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Roboto', sans-serif;
}

main {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        padding: 0;
        margin: 0;
        font-weight: 600;
        
        li{
            background-color: #2A324B;
            padding: 1.3rem 3rem;
            color: #fff;
            list-style: none;
        }
        li:hover, #active{
            background-color: #fff;
            color: #000;
            cursor: pointer;
        }
    }
    section{
        background-color: #fff;
        padding: 5rem;
        margin: 0;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
}

/*Responsivt design - Ikke krevd av oppgaven*/
@media screen and (min-width: 1100px) {
    section{
        min-width: 950px;
        min-height: 250px;
    }
    main nav ul li {
        padding: 1.3rem 4rem;
    }
}
@media screen and (max-width: 950px) {
    main nav ul li {
        padding: 1.3rem 3rem !important;
    }
}
@media screen and (max-width: 850px) {
    main nav ul li {
        padding: 1.3rem 2rem !important;
    }
    
}
@media screen and (max-width: 650px) {
    main ul{
        flex-direction: column !important;
    }
}