form {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: auto;
    text-align: left;

    input, textarea {
        background-color: #efefef;
        padding: 1rem;
        border: 1px solid #efefef;
        border-radius: 10px 10px;
        color: black;
    }
    input{
        max-width: 350px;
    }
    textarea{
        min-height: 150px;
    }
    button{
        background-color: #4CAF50;
        color: white;
        padding: 1rem;
        border: none;
        border-radius: 10px 10px;
        cursor: pointer;
        transition: background-color 0.3s;
    }
}