.member-page {
    .about-me {
        display: flex;
        text-align: left;
        align-items: start;
        gap: 2rem;

        img {
            max-height: 70vh;
            width: auto;
        }

        .biography {
            margin: 1rem 0 0 0;
            white-space: wrap;
            max-width: 70ch; // Character limit for line length

            article:nth-child(1) { // Bio
                margin: 0;
        
                h1 {
                    font-size: 2.5rem;
                    text-align: left;
                    margin: 0;
                    padding: 0;
                }
            }
        
            article:nth-child(2) { // Intersser
                h2 {
                    text-align: left;
                    font-size: 2rem;
                }
        
                ul {
                    padding: 0 0 0rem 1.4rem;
                    list-style: disc;
        
                    li {
                        margin: 0.5rem 0;
                        text-align: left;
                    }
                }
            }
        }
    }
    // Worklog is handled in WorkLogStyle.scss
}