.artist-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 2rem);
    padding: 10px;
    max-width: 350px;
  

    img {
        width: 100%;
        min-width: 350px;
        max-height: 200px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    h3 {
        font-size: 1rem;
        margin-top: 1rem;
        color: #fff;
    }
}
.artist-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    padding: 1rem;
};