.artist-cards-container {
    display: flex;
    flex-wrap: wrap;
    gap: 4rem;
}

.artist-card {
    display: flex;
    flex-direction: column;
    flex: 1 1 calc(33.333% - 2rem);
    max-width: 350px;
    margin-bottom: -3rem;
  

    img {
        width: 100%;;
        max-height: 250px;
        aspect-ratio: 4 / 3;
        object-fit: cover;
    }

    h3 {
        font-size: 1rem;
        color: #fff;
    }
}