@use "./app.scss" as *;

#dashboard-page {
    color: white;
    width: 100%;
    min-height: 90vh;

    h1 {
        font-size: 2rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        margin: 0;
        text-align: left;
    }

    h3 {
        font-size: 1.8rem;
        color: $primary-color;
        font-weight: 500;
    }

    #login-section {
        position: absolute;
        display: flex;
        flex-direction: column;
        top: calc(80px + 45%);
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 500px;
        max-height: 600px;
        width: calc(230px + calc(50vw - 20px) * 0.5);
        height: calc(350px + calc(50vh - 270px) * 0.5);
        justify-content: center;
        background: #313131;
        padding: 2rem;
        border-radius: 15px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);

        span {
            font-size: 2.5rem;
            text-align: center;

            i {
                background-color: #242424;
                padding: 1rem;
                border-radius: 15px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);
            }
        }

        h1 {
            font-weight: bold;
            margin-bottom: 2rem;
            margin-top: 1rem;
            white-space: wrap;
        }

        form {
            width: 100%;
            display: flex;
            flex-direction: column;
            gap: 1rem;
        }

        label {
            font-size: 0.9rem;
            color: #555;
            margin-bottom: 0.5rem;
            display: block;
        }

        #login {
            width: 100%;
            padding: 0.8rem;
            background: $primary-color;
            font-size: 1rem;
            font-weight: bold;
            border: none;
            border-radius: 8px;
            cursor: pointer;
            transition: background 0.3s;

            &:hover {
                background: $hover-color;
            }
        }

        .input-wrapper {
            position: relative;
            display: flex;
            align-items: center;
            margin-bottom: 1rem;

            i {
                position: absolute;
                left: 12px;
                color: #aaa;
                font-size: 1rem;
            }

            input {
                width: 100%;
                padding: 0.8rem 0.8rem 0.8rem 2.5rem;
                border: 1px solid #ccc;
                border-radius: 8px;
                font-size: 1rem;
                outline: none;
                transition: border-color 0.3s;

                &:focus {
                    border-color: $primary-color;
                }
            }

            #toggle-password {
                position: absolute;
                top: 50%;
                right: 1.5rem;
                transform: translateY(-50%);
                background: transparent;
                border: none;
                cursor: pointer;
                color: #888;
                font-size: 1.2rem;
                display: flex;
                align-items: center;
                justify-content: center;
                width: 1.5rem;
                height: 1.5rem;

                i {
                    width: 1.2rem;
                    height: 1.2rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                }
            }

        }
    }

    #dashboard-section {
        width: 100%;
        box-sizing: border-box;

        #dashboard-header {
            display: flex;
            align-items: center;
            justify-content: space-between;
            gap: 2rem;

            button {
                background: $primary-color;
                padding: 0.8rem;
                border: none;
                border-radius: 8px;
                cursor: pointer;
                transition: background 0.3s;
                font-size: 1rem;
                font-weight: bold;
                color: white;
                display: flex;
                align-items: center;
                gap: 0.5rem;

                &:hover {
                    background: $hover-color;
                }

                i {
                    font-size: 2rem;
                    color: white;
                }
            }
        }

        #user-info-section {
            display: flex;
            flex-direction: column;
            align-items: center;
            flex-wrap: wrap;
            gap: 1rem;
            padding: 2rem;
            background: #313131;
            border-radius: 15px;
            box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);

            #user-details {
                text-align: center;

                img {
                    max-width: 500px;
                    max-height: 500px;
                    width: 100%;
                    height: auto;
                    aspect-ratio: 1/1;
                    border-radius: 50%;
                    object-fit: cover;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);
                }

                p {
                    font-size: 1rem;
                }

            }

        }

        #user-content-section {

            #user-friends-section,
            #user-purchases-section,
            #user-wishlist-section {
                display: flex;
                flex-direction: column;
                flex-wrap: wrap;
                gap: 1rem;
                margin-top: 1.5rem;
                padding: 2rem;
                background: #313131;
                border-radius: 15px;
                box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);
            }

            #user-friends-section {
                #friends-list {
                    list-style: none;
                    display: flex;
                    flex-direction: row;
                    flex-wrap: wrap;
                    gap: 1rem;
                    margin: 0;
                    padding: 0;
                    align-items: center;

                    .friend-card {
                        display: flex;
                        flex-direction: column;
                        align-items: center;
                        justify-content: center;
                        text-align: center;
                        width: auto;
                        height: auto;
                        background: #242424;
                        border-radius: 15px;
                        padding: 1rem;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);
                        min-width: 160px;
                        max-width: 350px;
                        min-height: 400px;

                        .user-friends-interest {
                            ul {
                                list-style: none;
                                display: flex;
                                justify-content: space-around;
                                flex-direction: row;
                                flex-wrap: wrap;
                                gap: 0.5rem;
                                margin: 0;
                                padding: 0;

                                li {
                                    display: flex;
                                    align-items: center;
                                    justify-content: center;
                                    background: #313131;
                                    color: white;
                                    padding: 0.5rem 1rem;
                                    border-radius: 8px;
                                    font-size: 0.8rem;
                                    margin: 0.2rem;
                                }
                            }
                        }
                    }

                    img {
                        max-width: 100px;
                        max-height: 100px;
                        width: 100%;
                        height: auto;
                        aspect-ratio: 1/1;
                        border-radius: 50%;
                        object-fit: cover;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);
                    }

                    p {
                        font-size: 1rem;
                        color: #aaa;
                        white-space: wrap;
                    }
                }
            }

            #user-purchases-section {
                #previous-purchases-list {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    background: #242424;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);

                    #previous-purchases-header {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr); // ChatGPT: Repeat was added instead of repeating the same 1fr 5 times
                        align-items: center;
                        gap: 1rem;
                        padding: 1rem;
                    }

                    #previous-purchase-card {
                        display: grid;
                        grid-template-columns: repeat(5, 1fr); // ChatGPT: Repeat was added instead of repeating the same 1fr 5 times
                        padding: 1rem;
                        gap: 1rem;
                        list-style: none;
                        align-items: center;

                        p {
                            padding: 0;
                            margin: 0;

                            &:nth-child(1) {
                                color: $primary-color;
                            }
                        }

                        button {
                            background: $primary-color;
                            font-weight: bold;
                            color: white;
                            padding: 1rem;
                            border: none;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: background 0.3s;

                            &:hover {
                                background: $hover-color;
                            }

                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }

            #user-wishlist-section {
                #wishlist-list {
                    display: flex;
                    flex-direction: column;
                    padding: 0;
                    background: #242424;
                    border-radius: 15px;
                    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.377);

                    #wishlist-header {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr); // ChatGPT: Repeat was added instead of repeating the same 1fr 6 times
                        align-items: center;
                        gap: 1rem;
                        padding: 1rem;
                    }

                    #wishlist-card {
                        display: grid;
                        grid-template-columns: repeat(4, 1fr); // ChatGPT: Repeat was added instead of repeating the same 1fr 6 times
                        padding: 1rem;
                        gap: 1rem;
                        list-style: none;
                        align-items: center;

                        p {
                            padding: 0;
                            margin: 0;
                            &:nth-child(1) {
                                color: $primary-color;
                            }
                        }

                        button {
                            background: $primary-color;
                            font-weight: bold;
                            color: white;
                            padding: 1rem;
                            border: none;
                            border-radius: 8px;
                            cursor: pointer;
                            transition: background 0.3s;

                            &:hover {
                                background: $hover-color;
                            }

                            a {
                                color: white;
                                text-decoration: none;
                            }
                        }
                    }
                }
            }
        }
    }
}


@media (min-width: 768px) {
    #dashboard-page {
        #login-section {
            h1 {
                margin-bottom: 3rem;
            }
        }
    }
}