@use "./app.scss" as *;

/*
  Styling for the event card component
*/
#eventCard {
  max-width: 250px;
  min-width: 180px;
  flex: 1 1 15vw;
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-between;
  border-radius: 16px;
  background: #313131;
  padding: 1rem;

  img {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 1rem;
    aspect-ratio: 4 / 3;
  }

  .eventCard-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0.5rem;

    h2 {
      font-size: 1rem;
      margin: 0;
      flex-grow: 1;
    }

    .wishlist-btn {
      background: none;
      border: none;
      cursor: pointer;
      padding: 0;
    }
  }

  p {
    margin: 0;
    font-size: 0.9rem;
  }
}
