@use "./app.scss" as *;

#eventCard {
    max-width: 250px;
    min-width: 130px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 16px;
    background: #242424;
    padding: 1rem;
  
    img {
      width: 100%;
      height: auto;
      border-radius: 4px;
      margin-bottom: 0.5rem;
      aspect-ratio: 4/3;
    }
  
    h2 {
      padding-bottom: 1rem;
      font-size: 1rem;
      margin: 0;
    }
  
    p {
      margin: 0;
      font-size: 0.9rem;
    }
  }
  