@use "./app.scss" as *;

#homePage {
    #main-festivals {
        h2 {
            font-size: 2rem;
            text-align: left;
        }

        .festival-cards-container {
            display: flex;
            flex-wrap: wrap;
            gap: 2rem;
            padding: 1rem;
            list-style: none;
            margin: 0;

            li.festival-card {
                max-width: 350px;
                min-width: 350px;
                display: flex;
                flex-direction: column;

                img {
                    height: 200px;
                    width: 100%;
                }

                .festival-button {
                    background: $primary-color;
                    padding: 0.8rem;
                    border: none;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background 0.3s;
                    font-size: 1rem;
                    font-weight: bold;
                    color: white;
                    display: flex;
                    align-items: center;
                    gap: 0.5rem;
                    text-decoration: none;
                    align-self: start;

                    &:hover {
                        background: $hover-color;
                    }
                }
            }
        }
    }

    #city-events {
        margin-top: 2rem;

        #city-events-header {
            h2 {
                font-size: 2rem;
                text-align: center;
            }

            span {
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: 0.5rem;

                button {
                    background-color: $primary-color;
                    padding: 0.8rem 2rem;
                    border: none;
                    color: white;
                    font-size: 1rem;
                    font-weight: bold;
                    border-radius: 8px;
                    cursor: pointer;
                    transition: background 0.3s;

                    &:hover {
                        background-color: $hover-color;
                    }
                }
            }
        }

        #city-events-list {
            .event-card-container {
                display: flex;
                flex-wrap: wrap;
                gap: 2rem;
                justify-content: left;
                padding: 1rem;
            }
        }
    }
}