#nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 1.2rem 1rem;
    background-color: #333;
    color: white;
    position: relative;

    h1 {
        margin: 0;
    }

    #hamburger {
        // Hamburger menu icon
        font-size: 1.5rem;
        background: none;
        border: none;
        color: white;
        cursor: pointer;
    }

    ul {
        list-style: none;
        margin: 0;
        padding: 0;
        display: none;
        flex-direction: column;
        position: absolute;
        top: 100%;
        right: 0rem;
        background-color: #444;
        max-width: 300px;
        width: 100%;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
        border-radius: 0 0 5px 5px;
        z-index: 10;

        &#open {
            display: flex; // Show menu when open
        }


        li {
            margin: 0;
            padding: 0;
            text-align: left;

            &:last-child {

                // To get the last li to have a border radius
                a {
                    &:hover {
                        border-radius: 0 0 5px 5px;
                    }
                }
            }

            a {
                text-decoration: none;
                color: white;
                display: block;
                padding: 1rem 0.5rem;

                &:hover {
                    background-color: #555;
                }
            }
        }
    }

    #search-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        width: 100%;

        #search-icon {
            font-size: 1.5rem;
            background: none;
            border: none;
            color: white;
            cursor: pointer;
        }

        #search-box {
            display: flex;
            align-items: center;
            width: 100%;
            max-width: 300px;
            margin-left: auto;

            input {
                width: 100%;
                padding: 0.5rem;
                border: none;
                border-radius: 5px 0 0 5px;
                outline: none;
            }

            button {
                padding: 0.5rem;
                background-color: #555;
                border: none;
                border-radius: 0 5px 5px 0;
                cursor: pointer;

                &:hover {
                    background-color: #666;
                }
            }
        }
    }

}

@media (min-width: 768px) {
    // TODO: Make ul items in the center and make the search box smaller or new solution.

    // Desktop styles
    #hamburger {
        display: none;
    }

    #nav {
        display: flex;
        justify-content: space-between;

        ul {
            display: flex;
            flex-direction: row;
            justify-content: left;
            position: static;
            background: none;
            box-shadow: none;
            width: auto;

            li {
                margin: 0 0.5rem;
                padding: 0;
                text-align: center;

                a {
                    padding: 0.5rem 1rem; 
                    border-radius: 0 !important;
                }
            }
        }
        #search-container {
            max-width: 300px;
        }
    }
}